@import "bind"

.c
  color: $comment
.err
  color: $error
.g
  color: $generic
.k
  color: $keyword
.l
  color: $literal
.n
  color: $name
.o
  color: $operator
.x
  color: $other
.p
  color: $punctuation
.cm
  color: $commentmultiline
.cp
  color: $commentpreproc
.c1
  color: $commentsingle
.cs
  color: $commentspecial
.gd
  color: $genericdeleted
.ge
  color: $genericemph
  font-style: italic
.gr
  color: $genericerror
.gh
  color: $genericheading
.gi
  color: $genericinserted
.go
  color: $genericoutput
.gp
  color: $genericprompt
.gs
  color: $genericstrong
  font-weight: bold
.gu
  color: $genericsubheading
.gt
  color: $generictraceback
.kc
  color: $keywordconstant
.kd
  color: $keywordeclaration
.kn
  color: $keywordnamespace
.kp
  color: $keywordpseudo
.kr
  color: $keywordreserved
.kt
  color: $keywordtype
.ld
  color: $literaldate
.m
  color: $literalnumber
.s
  color: $literalstring
.na
  color: $nameattribute
.nb
  color: $namebuiltin
.nc
  color: $nameclass
.no
  color: $nameconstant
.nd
  color: $namedecorator
.ni
  color: $nameentity
.ne
  color: $nameexception
.nf
  color: $namefunction
.nl
  color: $namelabel
.nn
  color: $namenamespace
.nx
  color: $nameother
.py
  color: $nameproperty
.nt
  color: $nametag
.nv
  color: $namevariable
.ow
  color: $operatorword
.w
  color: $textwhitespace
.mf
  color: $literalnumberfloat
.mh
  color: $literalnumberhex
.mi
  color: $literalnumberinteger
.mo
  color: $literalnumberoct
.sb
  color: $literalstringbacktick
.sc
  color: $literalstringchar
.sd
  color: $literalstringdoc
.s2
  color: $literalstringdouble
.se
  color: $literalstringescape
.sh
  color: $literalstringheredoc
.si
  color: $literalstringinterpol
.sx
  color: $literalstringother
.sr
  color: $literalstringregex
.s1
  color: $literalstringsingle
.ss
  color: $literalstringsymbol
.bp
  color: $namebuiltinpseudo
.vc
  color: $namevariableclass
.vg
  color: $namevariableglobal
.vi
  color: $namevariableinstance
.il
  color: $literalnumberintegerlong
